@import '../../styles/vars';

button {
    border: none;
    outline: none;
    background: transparent;
}
.desktop-menu {
    display: grid;
    grid-template-columns: min-content auto;
    max-width: $menuContainer;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    height: 80px;
    align-content: center;
    z-index: 10;

    .items {
        display: flex;

        .services, a {
            font-weight: 300;
            text-transform: uppercase;
            margin-right: 10px;
        }

        .services {

            ul.services-categories {
                display: none;
                position: relative;
                
            }
        }

        .services:hover {
            
            ul.services-categories {
                position: absolute;
                display: block;
                margin: 0;
                padding-bottom: 5px;
                background: #ffffffc9;
            

            li {
                width: max-content;
                margin: 2px 5px;
                list-style: none;
                
            }

            a {
                font-weight: 300;
                font-size: 14px;
                text-decoration: none;
            }
            }
        }
    }

    .logo {
        position: absolute;
        justify-self: center;
        align-self: center;
    }
}

/* MOBILE */

.mobile-menu {
    display: none;
    z-index: 10;
}

.mobile-menu-shadow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2b2b2b67;
    z-index: 10;

    .mobile-menu-background {
        position: absolute;
        background: white;
        top: 5%;
        bottom: 5%;
        left: 10%;
        right: 10%;
        padding: 10vh 0;
        text-align: center;
        overflow-y: scroll;

        .close {
            position: absolute;
            left: 20px;
            top: 20px;
            height: 50px;
        }

        .logo {

            img {
                margin-bottom: 20px;
            }           
        }

        .item {
            color: #333333;
            text-transform: uppercase;
            font-size: 18px;
            display: block;
            width: max-content;
            margin: 0 auto 10px;
        }

        .sub-item {
            color: #898787;
            text-transform: uppercase;
            font-size: 16px;
            display: block;
            width: max-content;
            margin: auto;
            margin: 0 auto 7px;
        }
    }
}

@media screen and (max-width: 1100px) {
    
    .container {
        padding: 0 20px;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        position: absolute;
        display: flex;
        top: 20px;
        left: 5%;
        right: 5%;
        height: 50px;
        justify-content: space-between;
    }

    .hamburger img {
        height: 50px;
    }
}
