@import './vars';

.gap {
    height: 100px;
}

.container {
    max-width: $contentContainer;
    margin: auto;
}

/* INDEX PAGE */

.services-icons {
    width: 90%;
    height: 400px;
    margin: auto;
    display: flex;
    align-content: center;
    flex-wrap: wrap;

    .service-icon {
        width:33.333333%;
        padding: 0 5%;
        text-align: center;
    }
}

.services-images {
    margin: auto;
    display: flex;

    .service-image-item {
        width: 25%;
        padding: 0 1%;
        text-align: center;
    }
}

.service-image {
    transition: opacity ease 0.5s;

    &:hover {
        cursor: pointer;
        opacity: 0.5;
        transition: opacity ease 0.5s;
    }
}

/* promo */

.promo {
    height: 600px;
    margin: 50px 0;
    position: relative;

    .promo-background {
        position: absolute;
        right: 0;
        background: #f5f5f5;
        height: 100%;
        width: 70%;
    }

    .promo-photo {
        position: absolute;
        left: 0;
        width: 50%;
        top: 0;
        bottom: 0;
        margin: auto 0;
        height: 400px;
    }

    .promo-info {
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        margin: auto 0;
        padding: 0 30px 0 40px;
        height: 450px;
    }

    .promo-period {
        margin-bottom: 20px;
        font-size: 14px;
        color: #898787;
    }

    .promo-services-grid {
        display: grid;
        grid-template-columns: 1fr auto auto;
        gap: 8px;
        height: fit-content;
        align-content: center;
        margin-bottom: 8px;

        .promo-service {
            max-width: 300px;
            font-weight: 500;
        }

        .promo-regular-price {
            color: #d3d3d3;
            text-decoration: line-through;
            font-weight: 600;
            font-style: italic;
            text-align: right;
            padding: 0 5px;
        }

        .promo-current-price {
            font-weight: 600;
            font-style: italic;
            text-align: right;
            padding: 0 5px;
        }
    }
}

/* PAGES */
/* about */

.about {

    p {
        margin-bottom: 20px;
    }
}

.blog {
    background: #f5f5f5;
    width: 100%;
    height: fit-content;

    .container {
        display: grid;
        grid-template-columns: 50% 50%;

        .blog-image-container {
            position: relative;
            
            &::after {
                content: '';
                height: 70%;
                width: 1px;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(-50%, -50%);
                background-color: #c9c9c9;
            }

            .blog-image {
                width: 80%;
                padding: 30px 0;
                margin: auto;
            }
        }

        .blog-news {
            width: 80%;
            margin: auto;
            padding: 25px 0;

            h3 {
                margin: 0px 0 15px;
                color: #464646;
            }

            h4 {
                margin: 0;
                color: #545454;
            }

            .blog-news-date {
                font-family: 'Cormorant', serif;
                font-size: 18px;
                font-style: italic;
                margin-bottom: 10px;
            }
        }
    }
}
/* end of about */
/* news */

.news {
    display: grid;
    grid-template-columns: 40% 55%;
    column-gap: 5%;
    margin-bottom: 100px;

    p {
        margin-bottom: 20px;
    }
}
/* end of news */

/* prices */

.prices {
    width: 60%;

    .block-type {
        background: #fbfbfb;
        margin-bottom: 50px;
        padding: 10px;

        h3 {
            margin-top: 0;
            padding-left: 10px;
        }
    }
    
    .type-of-services {
        margin-left: 0;

        li {
            margin: 7px 0;
        }

        .service {
            list-style: none;
            display: grid;
            grid-template-columns: 90% 10%;
            padding: 3px 10px;

            span:nth-child(2) {
                justify-self: center;
            }
        }

        .service:nth-child(odd) {
            background: #f3f3f3;
        }
    }
}

/* end of prices */

/* contacts */

.contacts-block {
    display: flex;
    margin-bottom: 50px;

    .contacts {
        width: 40%;  

        li {
            list-style: none;
        }
    }
}

/* end of contacts */

/* TEMPLATES */
/* category template */

.category-services-grid {
    display: grid;
    grid-template-columns: 15% 82%;
    column-gap: 3%;

    .service-title {
        text-align: center;
        margin: 5px 0 25px;
    }

    .service-description {

        p {
            margin: 20px 0;
        }
    }
}

/* end of category template */

/* service template */

.subservices-grid {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 30px 4%;
    margin-bottom: 50px;

    .subservice-item {
        position: relative;

        .subservice-name {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: max-content;           
            color: #ffffff;
            font-size: 26px;
            background: #cf666680;
            padding: 0 12px;
            border-radius: 8px;
            text-align: center;         
        }
    }
}

.service-description {
    margin-bottom: 50px;
    
    p {
        margin: 20px 0;
    }
}

/* end of service template */

/* ================ */

/* MOBILE */

@media screen and (max-width: 1100px) {
    
    .container {
        padding: 0 20px;

        .services-icons {
            width: 100%;
        }
    }
}

@media screen and (max-width: 860px) {

    .promo {
        height: 500px;

        .promo-photo {
            width: 40%;
        }

        .promo-info {
            left: 40%;
        }
    }

    .services-icons {
        
        .service-icon {
            padding: 0 3%;
        }
    }
}

@media screen and (max-width: 760px) {

    .service-icon {

        p {
            font-size: 14px;
        }
    }

    .services-images {
        display: grid;
        grid-template-columns: 50% 50%;

        .service-image-item {
            width: 100%;

            h3 {
                margin: 10px 0 30px;
            }
        }
    }
}

@media screen and (max-width: 568px) {

    .services-icons {
        flex-flow: column;
        max-width: 80%;
        height: fit-content;
        margin-bottom: 40px;

        .service-icon {
            width: 100%;
            margin: 0 auto 20px;

            h4 {
                margin: 10px 0;
            }
        }
    }

    .promo {
        display: grid;
        height: fit-content;
        margin-bottom: 0;
        padding-bottom: 50px;

        .promo-background {
            width: 100%;
        }
    
        .promo-photo {
            position: relative;
            width: 100%;
            height: auto;
            margin-top: 40px;

            img {
                height: auto;
            }
        }

        .promo-info {
            position: relative;
            left: 0;
            height: fit-content;
            padding: 0 5%;
            z-index: 2;
        }
    }
}

@media screen and (max-width: 480px) {
    
    .services-images {
        display: grid;
        grid-template-columns: 100%;

        .service-image-item {
            width: 95%;
            margin: auto;


        }
    }
}


